.container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    height: 100px;
    min-height: 70px;
    overflow: hidden;
    transition: height .5s ease;
}

.image {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.imageCali {
    object-position: 50% 60%;
}

.imageBusiness {
    object-position: 50% 40%;
}

.imageArts {
    object-position: 50% 72%;
}

.title {
    position: absolute;
    max-width: 500px;
    color: white;
    font-size: 36px;
    text-wrap: wrap;
    text-align: center;
    transition: font-size .5s ease;
}

.longTitle {
    position: absolute;
    text-wrap: wrap;
    text-align: center;
    vertical-align: middle;
    max-width: 200px;
    font-size: 24px;
    color: white;
    transition: font-size .5s ease;
}

.medTitle {
    position: absolute;
    text-wrap: wrap;
    text-align: center;
    vertical-align: middle;
    max-width: 200px;
    font-size: 32px;
    color: white;
    transition: font-size .5s ease;
}

@media(min-width: 350px) {
    .medTitle {
        font-size: 42px;
        max-width: 300px;
    }

    .title {
        font-size: 42px;
    }
}

@media(min-width: 400px) {
    .longTitle {
        font-size: 32px;
        max-width: 300px;
    }

    .container {
        height: 150px;
    }

    .title {
        font-size: 52px;
    }
}

@media(min-width: 500px) {
    .localTitle {
        max-width: 300px;
        font-size: 42px;
    }

    .longTitle {
        font-size: 36px;
    }

    .title {
        font-size: 52px;
    }
}

@media(min-width: 550px) {
    .longTitle {
        max-width: 100%;
        font-size: 36px;
    }

    .medTitle {
        font-size: 48px;
    }

    .title {
        font-size: 64px;
    }
}

@media(min-width: 700px) {
    .localTitle {
        max-width: 300px;
        font-size: 48px;
    }

    .container {
        height: 200px;
    }

    .longTitle {
        max-width: 400px;
        font-size: 48px;
    }

    .medTitle {
        max-width: 450px;
        font-size: 62px;
    }

    .title {
        font-size: 64px;
    }

}

@media(min-width: 1200px) {
    .title {
        font-size: 72px;
    }

    .longTitle {
        max-width: 450px;
        font-size: 72px;
    }

    .medTitle {
        max-width: 450px;
        font-size: 72px;
    }


}