/*****************
Feature component styling
******************/

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5%;
}

.title:hover,
.image:hover,
.description:hover {
    cursor: pointer;
}

.image {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.description {
    margin: 2% 0;
}

.divider {
    margin: 5% 0 0 0;
}

/*****************
Media Queries
******************/

/*Grid Layout*/
@media(min-width: 740px) {
    .container {
        position: relative;
        display: grid;
        grid-template-columns: 60% 40%;
        grid-template-rows: repeat(3, auto);
        grid-template-areas:
            "title image"
            ". image"
            "divider divider";
        justify-items: center;
    }

    .divider {
        grid-area: divider;
        display: block;
        padding: 2% 0 0 0;
        margin: 0;
    }

    .title {
        grid-area: title;
        font-size: 14px;
        padding: 0 2%;
    }

    .description {
        margin: 0;
        display: none;
        grid-area: description;
        font-size: 14px;
    }

    .image {
        grid-area: image;
        max-height: 100px;
    }
}

@media(min-width: 1000px) {

    /*Grid Layout*/
    .container {
        display: grid;
        grid-template-columns: 70% 30%;
        grid-template-rows: repeat(3, auto);
        grid-template-areas:
            "title image"
            "description image"
            "divider divider";
        justify-items: center;

    }

    .title {
        font-size: 16px;
    }

    .description {
        display: block;
    }

    .title,
    .description {
        padding: 0 5%;
    }

}