/*****************
Footer Component Styling
******************/

.containerFooter {
    /* margin-top: 20px; */
    display: flex;
    justify-content: center;
    color: white;
    background-color: black;
    height: 650px;
    width: 100vw;
}

.divider {
    background-color: white;
}

.siteName {
    font-size: 28px;
    font-family: 'Chomsky'
}

.innerFooter {
    width: 100%;
    max-width: 1200px;
    margin: 10% 0;
    max-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.advertise,
.careers,
.about {
    font-size: 16px;
}

.advertise:hover,
.careers:hover,
.about:hover {
    cursor: pointer;
}

.social {
    width: 100%;
    max-width: 600px;
    display: flex;
    justify-content: space-around;
}

.copyright {
    font-size: 10px;
}

.icon {
    font-size: xx-large;
}

.icon:hover {
    cursor: pointer;
}

.box {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 24px;
    top: 50%;
    left: 50%;
    width: 80%;
    max-width: 400px;
    height: 15%;
    border: 1px solid white;
    border-radius: 5px;
    color: white;
    box-shadow: 24;
    background-color: black;
    transform: translate(-50%, -50%);
    transition: font-size .5s ease, height .5s ease;
}

@media(min-width: 550px) {
    .box {
        height: 20%;
        font-size: 36px;
        transition: font-size .5s ease, height .5s ease;
    }
}

@media(min-width: 740px) {
    /* .containerFooter {
        margin-left: 20%;
        width: 120vw;
    } */
    
    .siteName {
        margin-left: 5%;
        font-size: 32px;
        width: 100%;
        align-self: flex-start;
    }

    .advertise,
    .careers,
    .about {
        font-size: 20px;
    }

}

@media(min-width: 1000px) {
    .siteName {
        font-size: 36px;
    }

    .innerFooter {
        margin: 5% 0;
    }

    .advertise,
    .careers,
    .about {
        font-size: 24px;
    }
}