.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title:hover,
.image:hover,
.description:hover {
    cursor: pointer;
}

.image {
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.description {
    margin: 2% 0;
}

@media(min-width: 740px) {
    .container {
        align-items: baseline;
        min-height: 100%;
    }

}