.container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.image {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.description {
    margin: 2% 0;
}

@media(min-width: 740px) {
    .container{
        align-items: baseline;
        min-height: 100%;
    }
    
}
