@import '../styles/fonts.css';

.menuClose{
    display: none;
  }

  .openSidebarMenu{
    display: none;
  }

.header{
  width: 100%;
  max-width: 1200px;
  height: 10vh;
    min-height: 50px;
    max-height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 3%;
    font-family: 'Chomsky';
    font-size: 36px;
    transition: font-size 300ms ease;
}

.sidebarIconToggle{
    display: flex;
    justify-content: center;
    align-items: center;
}
#span{
    width: 36px;
}

input[type="checkbox"]:checked ~ .sidebarIconToggle .menuClose {
    display: block;
  }

  input[type="checkbox"]:checked ~ .sidebarIconToggle .menu {
    display: none;
  }

  .sidebarIconToggle{
    /* border: red solid 1px; */
  }

@media (max-width: 500px){
    #span{
        display: none;
    }
}

@media (max-width: 420px){
    .header{
        font-size: 28px;
    }
}
@media (max-width: 740){
    .header{
        min-height:60px;
    }
}