/*****************
Home Page Styling
******************/

.body {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2%;
  width: 100%;
}

.overlayActive,
.overlayInactive {
  position: fixed;
  margin-top: 60px;
  width: 90%;
  max-width: 1200px;
  height: 100%;
  opacity: .5;
  z-index: 500;
  background-color: gray;
  transition: opacity 300ms ease;
}

.overlayInactive {
  width: 100%;
  background-color: gray;
  z-index: -1;
  opacity: 0;
}

.headerDivider {
  max-width: 1200px;
}

.trendingTitle,
.spotlightTitle,
.topTitle,
.additionalTitle {
  margin-top: 5%;
  color: gray;
  opacity: .5;
  align-self: flex-start;
  font-size: large;
}
.vDivider {
  display: none;
}

.containerMain {
  max-width: 1200px;
  margin: 2% 5%;
}

.containerFeatured,
.containerHeadline,
.containerTrending,
.containerSpotlight,
.containerAdditional,
.containerMain {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/*****************
Media Queries
******************/

@media (min-width: 740px) {
  .trendingTitle{
    margin: 0;
  }

  .header {
    height: 200px;
  }

  .topTitle {
    display: none;
  }

  /*Grid Layout*/
  .containerMain {
    display: grid;
    justify-items: center;
    margin: 1% 5% 0 5%;
    grid-template-columns: 100%;
    grid-template-rows: repeat(4, auto);
    grid-template-areas:
      "cTop"
      "trending"
      "spotlight"
      "additional"
  }

  /*Grid Layout*/
  .containerTop {
    display: grid;
    grid-template-columns: 60% auto 40%;
    grid-template-rows: 100%;
    grid-template-areas:
      "headline vDivider featured"
  }

  .containerHeadline {
    margin-right: 3%;
  }

  /*Grid Layout*/
  .containerFeatured {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: repeat(5, 20%);
    grid-template-areas:
      "featured1"
      "featured2"
      "featured3"
      "featured4"
      "featured5";
    margin-left: 5%;
  }

  /*Grid Layout*/
  .containerTrending {
    margin-top: 2%;
    display: grid;
    grid-column-gap: 5%;
    grid-template-columns: auto auto;
    grid-template-rows: 10% repeat(3, minmax(150px, 30%));
    grid-template-areas:
      "trendingTitle trendingTitle"
      "trending1 trending4"
      "trending2 trending5"
      "trending3 trending6";
    justify-content: center;
  }

  /*Grid Layout*/
  .containerSpotlight {
    margin-top: 2%;
    display: grid;
    grid-gap: 3%;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto 1fr;
    grid-template-areas:
      "slT . ."
      "sl1 sl2 sl3";
  }

  /*Grid Layout*/
  .containerAdditional {
    display: grid;
    grid-gap: 1%;
    width: 100%;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, auto);
    grid-template-areas:
      "at at at at"
      "additional1 additional2 additional3 additional4"
      "additional5  additional6 additional7 additional8"
      "additional9 additional10 additional11 additional12";
  }

  .vDivider {
    display: block;
    justify-content: center;
    align-self: center;
    max-height: 450px;
  }


/*Grid Area Declarations*/
.containerHeadline {grid-area: headline;}
.containerFeatured{grid-area: featured}
.containerTrending{grid-area: trending}
.containerSpotlight{grid-area: spotlight}
.containerAdditional{grid-area: additional}
.containerTop{grid-area: cTop}

.featured1{grid-area: featured1}
.featured2{grid-area: featured2}
.featured3{grid-area: featured3}
.featured4{grid-area: featured4}
.featured5{grid-area: featured5}
.vDivider{grid-area: vDivider}

.trendingTitle{grid-area: trendingTitle}
.trending1{grid-area: trending1}
.trending2{grid-area: trending2}
.trending3{grid-area: trending3}
.trending4{grid-area: trending4}
.trending5{grid-area: trending5}
.trending6{grid-area: trending6}

.spotlightTitle{grid-area: slT}
.spotlight1{grid-area: sl1}
.spotlight2{grid-area: sl2}
.spotlight3{grid-area: sl3}

.additionalTitle{grid-area: at}
.additional1 { grid-area: additional1; }
.additional2 { grid-area: additional2; }
.additional3 { grid-area: additional3; }
.additional4 { grid-area: additional4; }
.additional5 { grid-area: additional5; }
.additional6 { grid-area: additional6; }
.additional7 { grid-area: additional7; }
.additional8 { grid-area: additional8; }
.additional9 { grid-area: additional9; }
.additional10 { grid-area: additional10; }
.additional11 { grid-area: additional11; }
.additional12 { grid-area: additional12; }

.featDivider{display: none;}
.hlDivider{display: none;}

}

.spotlight1{}
.spotlight2{}
.spotlight3{}