.container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5%;
    width: 100%;
}

.s1Title {
    position: absolute;
    top: 5%;
    width: 80%;
    color: white;
    font-size: 20px;
}

.s2Title {
    position: absolute;
    top: 30%;
    left: 10%;
    color: white;
    font-size: 22px;
    width: 20%;
}

.s3Title {
    color: #800f2f;
    position: absolute;
    width: 40%;
    right: 2%;
    top: 5%;
    font-size: 20px;
}

.image {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.divider {
    margin: 5% 0 0 0;
}

@media(min-width: 600px) {
    .s3Title {
        font-size: 24px;
    }

}

@media(min-width: 740px) {
    .container {
        height: 100%;
    }
.s1Title, .s2Title, .s3Title{
    font-size: 16px;
}
.s2Title{
    width: 80%;
    top: 65%;
}
.s3Title{
    right: 10%;
    top: 15%; 
}
    .container {
        /* position: relative;
        display: grid;
        grid-template-columns: 60% 40%;
        grid-template-rows: repeat(3, auto);
        grid-template-areas:
            "title image"
            ". image"
            "divider divider";
            justify-items: center; */
    }

    /* .divider {
        grid-area: divider;
        display: block;
        padding: 2%;
        margin: 0;
    }

    .title {
        grid-area: title;
        font-size: 14px;
    }

    .description {
        display: none;
        grid-area: description;
        font-size: 10px;
    }

    .image {
        grid-area: image;
        max-height: 100px;

    } */
}

@media(min-width: 1000px) {
    .s1Title, .s2Title, .s3Title{
        font-size: 20px;
    }

    .s2Title{
        /* top: 60%; */
    }
    /* .container {
        display: grid;
        grid-template-columns: 60% 40%;
        grid-template-rows: repeat(3, auto);
        grid-template-areas:
            "title image"
            "description image"
            "divider divider";
        justify-items: center;

    }

    .description {
        display: block;
        font-size: 11px;
    }

    .title {
        font-size: 12px;

    }

    .title,
    .description {
        padding: 0 5%;
    } */
}

@media(min-width: 1200px){
    .s1Title, .s2Title, .s3Title{
        font-size: 24px;
    }
}