.container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5%;
    width: 100%;
}

.s1Title:hover,
.s2Title:hover,
.s3Title:hover,
.image:hover{
    cursor: pointer;
}

.imageWrap{
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;
}

.s1Title {
    z-index: 100;
    position: absolute;
    top: 5%;
    width: 80%;
    color: white;
    font-size: 20px;
}

.s2Title {
    z-index: 100;
    position: absolute;
    top: 30%;
    left: 10%;
    color: white;
    font-size: 22px;
    width: 20%;
}

.s3Title {
    z-index: 100;
    color: #800f2f;
    position: absolute;
    width: 40%;
    right: 2%;
    top: 5%;
    font-size: 20px;
}

.image {
    min-height: 400px;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.divider {
    margin: 5% 0 0 0;
}

@media(min-width: 600px) {
    .s3Title {
        font-size: 24px;
    }

}

@media(min-width: 740px) {
    .image{
        transition: transform .6s ease-in-out;
    }

    .image:hover{
        transform: scale(1.1)
    }
 

    .s1Title:hover + .imageWrap > .image,
    .s2Title:hover + .imageWrap > .image,
    .s3Title:hover + .imageWrap > .image{
        transform: scale(1.1)
    }

    .container {
        height: 100%;
    }

    .s1Title,
    .s2Title,
    .s3Title {
        font-size: 16px;
    }

    .s2Title {
        width: 80%;
        top: 70%;
    }

    .s3Title {
        right: 5%;
        top: 15%;
    }
}

@media(min-width: 1000px) {

    .s1Title,
    .s2Title,
    .s3Title {
        font-size: 20px;
    }

}

@media(min-width: 1200px) {

    .s1Title,
    .s2Title,
    .s3Title {
        font-size: 24px;
    }
}