.image{
    height: 100%;
    width: 100%;
    object-fit: cover;
    margin-top: 5%;
}
.title:hover,
.image:hover{
    cursor: pointer;
}

.container{
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.divider {
    margin: 5% 0 0 0;
}

.headline .title{
    color: blue;
}

@media(min-width: 740px){

    .container{
        min-height: 100%;
        padding: 0 5%;
    }
    .title{
        font-size: 14px;
    }

    .description{
        font-size: 12px;
        margin: 5%;
    }
    .image{
        min-height: 150px;
        max-width: 90%;
    }

}
@media(min-width: 1000px){
    .title{
        font-size: 16px;
    }

    .description{
        font-size: 12px;
        margin: 5%;
    }

}