/*****************
TitlePicture Component Styling
******************/

.image{
    object-fit: cover;
    height: 100%;
    width: 100%;
    margin-top: 5%;
}
.title:hover,
.image:hover{
    cursor: pointer;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5%;
    
}
.divider {
    margin: 5% 0 0 0;
}

/*****************
Media Queries
******************/
@media(min-width: 740px){

    .container{
        min-height: 100%;
        padding: 0 5%;
    }
    .title{
        font-size: 14px;
    }

    .description{
        font-size: 12px;
        margin: 5%;
    }
    .image{
        max-height: 150px;
        max-width: 90%;
    }

}
@media(min-width: 1000px){
    .title{
        font-size: 16px;
    }

    .description{
        font-size: 12px;
        margin: 5%;
    }

}